/*http://www.colorhexa.com/035898*/
.meteo-70 {
	background-color: #ff3300;
}
.meteo-60 {
	background-color: #ff6600;
}
.meteo-50 {
	background-color: #ff8000;
}
.meteo-40 {
	background-color: #ff9900;
}
.meteo-30 {
	background-color: #ffb200;
}
.meteo-20 {
	background-color: #ffcc00;
}
.meteo-10 {
	background-color: #ffe500;
}
.meteo-10 {
	background-color: #ffe500;
}
.meteo-0 {
	background-color: #fffdeb;
}
.meteo--10 {
	background-color: #bfe3fe;
}
.meteo--20 {
	background-color: #80c8fe;
}
.meteo--30 {
	background-color: #0066b3;
}
.meteo--40 {
	background-color: #0033cc;
}
.meteo--50 {
	background-color: #00248e;
}
.meteo--60 {
	background-color: #1919b3;
}
.meteo--70 {
	background-color: #12127d;
}
.meteo {
	background-color: #fff;
}